<template>
    <div class='row'>
        <li v-if='actasList.length === 0'>Sin actas registradas</li>
                <table id="tablaActas" v-if='actasList.length > 0' class="table table-striped table-hover" style="font-size: 13px">
                    <thead>
                        <tr>
                            <th>Numero</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th>Operaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="acta in actasList" >
                            <td>{{acta.numeroacta}}</td>
                            <td>{{nuevaFecha(acta.fecha)}}</td>
                            <td v-bind:class="['acta'+acta.estado]">{{acta.estado}}</td>
                            <td>
                                <a :href="'acta/' + acta.numeroacta" id="verActa" class="btn btn-primary btn-sm" >Ver</a>
                                <a v-if='acta.estado === "Cerrada"' :href="'acta/resumen/' + acta.numeroacta" id="verActa" class="btn btn-warning btn-sm" >Resumen</a>
                                <a  v-if='acta.estado === "Activa"' :href="'acta/planillacobranza/' + acta.numeroacta" id="planillacobranza" class="btn btn-success btn-sm" >Planilla Cobranza</a>
                                <a v-if='acta.estado === "Activa"' :href="'acta/procesar/' + acta.numeroacta" id="procesaracta" class="btn btn-success btn-sm" >Procesar</a>
                                <a v-if='acta.estado === "Activa"' :href="'acta/lotes/' + acta.numeroacta" id="asignarlotes" class="btn btn-danger btn-sm" >Asignar Lote</a>
                                <a v-if='acta.estado === "Activa"' :href="'acta/actamartillero/' + acta.numeroacta" id="actamartillero" class="btn btn-default btn-sm" >Acta Martillero</a>
                                <a v-if='acta.estado === "Activa"' :href="'acta/imprimirlotes/' + acta.numeroacta" id="imprimirlotes" class="btn btn-default btn-sm" >Carteles lotes</a>
                                <a v-if='acta.estado === "Activa"' :href="'acta/revisionacta/' + acta.numeroacta" id="revisionacta" class="btn btn-default btn-sm" >Revisón Acta</a>
                                <a v-if='acta.estado === "Activa"' :href="'acta/boletinremate/' + acta.numeroacta" id="boletinremate" class="btn btn-default btn-sm" >Boletines remate</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
    </div>
</template>
<script>
    export default {
        
        data() {
            return {
                actasList: [],
                idacta:'',
                fechaformat:''
            };
        },
        created: function() {
            this.getactas();
        },
        methods: {
            getactas: function() {
                var urlOR = 'actasResource';
                axios.get(urlOR).then(response => {
                    this.actasList = response.data
                    setTimeout(function(){
                        $('#tablaActas').dataTable( {
                            "order": [[ 0, "desc" ]],
                            "language": {
                                "url": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                            }
                        } );
                        

                    }, 1000);
                });
            },

            viewActa: function(idacta) {
               this.$emit('view-acta', idacta);


            }, // fin de la funcion viewacta

            nuevaFecha: function(fecha) {

            //var nuevafecha = window.formatearFecha(fecha)
            var nuevafecha = fecha.split("-");
            return nuevafecha[2]+"/"+nuevafecha[1]+"/"+nuevafecha[0]


            }, // fin de la funcion viewacta



        },
         
          
    }

</script>
