<template>
    <div class='row'>

                <li v-if='bodegalist.length === 0'>Sin Bodegas registradas</li>
                <table id="tablaBodegas" v-if='bodegalist.length > 0' class="table table-striped table-hover" >
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Habilitada</th>
                            <th>Creada</th>
                            
                            <th>Accion</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="bodega in bodegalist" >
                            
                            <td>{{ bodega.nombre }}</td>
                            <td>{{ bodega.habilitado }}</td>
                            <td>{{ bodega.created_at }}</td>
                            
                            
                             <!-- <td><button @click="viewUser(usuario.id, usuario.email)" class="btn btn-success">Editar</button> </td> -->
                             <td><button id="btnNuevaBodega" type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#newUpdateBodega" v-on:click="viewBodega(bodega.id)">Editar</button></td>
                             
                        </tr>
                    </tbody>
                </table>

    </div>
</template>
<script>
    export default {
       // props: ['valor'],

        data() {
            return {
                bodegalist: [],
                //unvalor: '',
                
                /*idusuario:'',
                usuario: {
                    id: '',
                    email: '',
                    unvalor:''
                }*/
            };
        },
        created: function() {

            //this.formtearFechas();
            this.getBodegas();
            
        },
        mounted: function() {
            /*const vm = this;
            //this.formtearFechas();
            //this.getBodegas();
            //this.listaComputada();
            //console.log(this.results[1].name) ;
            console.log("Ahora Bodega list mounted");
            //console.log(vm.bodegalist);
            console.log(vm.$el.textContent)*/
            //this.getBodegas();
        },
        methods: {
            getBodegas: function() {
                var urlBodegas = 'bodegasResource';
                axios.get(urlBodegas).then(response => {
                    this.bodegalist = response.data
                    setTimeout(function(){
                        $('#tablaBodegas').dataTable( {
                            "language": {
                                "url": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                            }
                        } );
                        //console.log("CARGODT");

                    }, 1000);
                });        
                

            },

            viewBodega: function(idBodega) {

               this.$emit('view-bodega', idBodega);


            } // fin de la funcion viewUser*/

        }
    }

</script>
