<template>
    <div class='row'>

                <li v-if='contactoslist.length === 0'>Sin contactos registrados</li>
                <table id="tablaContactos" v-if='contactoslist.length > 0' class="table table-striped table-hover" >
                    <thead>
                        <tr>
                            <!-- <th>#</th> -->
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>RUT</th>
                            <th>Telefono</th>
                            <th>Email</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="contacto in contactoslist" >
                            <!-- <td>{{ usuario.id }}</td> -->
                            <td>{{ contacto.nombre }}</td>
                            <td>{{ contacto.apellido }}</td>
                            <td>{{ contacto.rut }}</td>
                            <td>{{ contacto.fono1 }}</td>
                            <td>{{ contacto.email }}</td>
                             <!-- <td><button @click="viewUser(usuario.id, usuario.email)" class="btn btn-success">Editar</button> </td> -->
                             <td><button id="btnEditarCliente" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#newUpdateContacto" v-on:click="viewContacto(contacto.id)">Editar</button></td>
                        </tr>
                    </tbody>
                </table>
    </div>
</template>
<script>
    export default {
        //props: ['valor'],
        data() {
            return {
                contactoslist: [],
                idcontacto:'',
                /*usuario: {
                    id: '',
                    email: '',
                    unvalor:''
                }*/
            };
        },
        created: function() {
            this.getClientes();
            

        },
        
        methods: {
            getClientes: function() {
                var urlContactos = 'listaclientes';
                axios.get(urlContactos).then(response => {
                    this.contactoslist = response.data
                    setTimeout(function(){
                        $('#tablaContactos').dataTable( {
                            "language": {
                                "url": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                            }
                        } );
                        //console.log("CARGODT");

                    }, 1000);
                });
            },

            viewContacto: function(idContacto) {
                //document.getElementById("action").value = "editaUsuario";
                //document.getElementById("iduser").value = idUser;
                //appUser.ruta = 'new message'
               //this.$set(this.formdata, 'age', 27)
               this.$emit('view-contacto', idContacto);


            }, // fin de la funcion viewUser

        }
    }

</script>
