<template>
    <div class='row'>

                <li v-if='companialist.length === 0'>Sin companias registrados</li>
                <table id="tablaCompania" v-if='companialist.length > 0' class="table table-striped table-hover" >
                    <thead>
                        <tr>
                            <!-- <th>#</th> -->
                            <th>Nombre</th>
                            <th>Habiltado</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="compania in companialist" >
                            <!-- <td>{{ compania.id }}</td> -->
                            <td>{{ compania.nombre }}</td>
                            <td>{{ compania.habilitado }}</td>
                             <!-- <td><button @click="viewUser(usuario.id, usuario.email)" class="btn btn-success">Editar</button> </td> -->
                             <td>
                                <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#newUpdateCompania" v-on:click="viewcompania(compania.id)">Editar</button>
                             </td>
                        </tr>
                    </tbody>
                </table>
    </div>
</template>
<script>
    export default {
         //props: ['valor'],
        data() {
            return {
                companialist: [],
                idcompania:'',
                /*usuario: {
                    id: '',
                    email: '',
                    unvalor:''
                }*/
            };
        },
        created: function() {
            this.getcompania();

        },
        
        methods: {
            getcompania: function() {
                var urlCompanias = 'companiaResource';
                axios.get(urlCompanias).then(response => {
                    this.companialist = response.data
                    setTimeout(function(){
                        $('#tablaCompania').dataTable( {
                            "language": {
                                "url": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                            }
                        } );
                        //console.log("CARGODT");

                    }, 1000);
                });
            },

            viewcompania: function(idcompania) {
               this.$emit('view-compania', idcompania);


            }, // fin de la funcion viewcompania

        }
    }

</script>
