<template>
    <div class='row'>
        <li v-if='ingresolist.length === 0'>Sin Ordenes de Retiro registrados</li>
                <table id="tablaExistencias" v-if='ingresolist.length > 0' class="table table-striped table-hover" style="font-size: 13px">
                    <thead>
                        <tr>
                            <th>N° Proceso</th>
                            <th>Patente</th>
                            <th>Compañia</th>
                            <th>N° Siniestro</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Año</th>
                            <!-- <th>Transportista</th>
                            <th>Taller</th> 
                            <th>Dias en Retiro</th>-->
                            <th>Estado</th>
                            <th>Operaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="ingreso in ingresolist" >
                            <td>{{ingreso.nproceso}}</td>
                            <td>{{ingreso.patente}}</td>
                            <td>{{ingreso.nombrecompania}}</td>
                            <td>{{ingreso.nsiniestro}}</td>
                            <td>{{ingreso.nombremarca}}</td>
                            <td>{{ingreso.nombremodelo}}</td>
                            <td>{{ingreso.anio}}</td>
                            <!-- <td>{{ingreso.taller}}</td>
                            <td>{{ingreso.transportista}}</td> 
                            <td>{{ingreso.diasenretiro}}</td>-->
                            <td><label v-bind:class='[formatoEstado(ingreso.estado)]'>{{ingreso.estado}}</label></td>
                            <td>
                                <button id="btnVerIngreso" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#newUpdateExistencias" v-on:click="viewIngreso(ingreso.id)">Editar</button><!-- 
                                <button id="btnVerIngreso" type="button" class="btn btn-primary btn-sm" v-on:click="viewFicha(ingreso.id)">Ver Ficha</button> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
    </div>
</template>
<script>
    export default {
        
        data() {
            return {
                ingresolist: [],
                idingreso:'2',
            };
        },
        created: function() {
            this.getIngresos();
        },
        
        methods: {
            getIngresos: function() {
                var urlOR = 'existenciasFullDataAll';
                axios.get(urlOR).then(response => {
                    this.ingresolist = response.data
                    setTimeout(function(){
                        $('#tablaExistencias').dataTable( {
                            "language": {
                                "url": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                            }
                        } );
                        

                    }, 1000);
                });
            },

            viewIngreso: function(idingreso) {
               this.$emit('view-ingreso', idingreso);


            }, // fin de la funcion viewIngreso
            /*viewFicha: function(idingreso) {
               this.$emit('view-ficha', idingreso);


            }, // fin de la funcion viewFicha*/
            formatoEstado: function(estado) {
               //return $.trim(estado)
               return estado.replace(/ /g,"");
               //var valor='A1 B2 C3';   console.log($.trim(valor));


            }, // fin de la funcion viewFicha

        },
        
          
    }

</script>
