<template>
    <div class='row'>

                <li v-if='liquidadoresList.length === 0'>Sin liquidadores registrados</li>
                <table id="tablaLiquidadores" v-if='liquidadoresList.length > 0' class="table table-striped table-hover" >
                    <thead>
                        <tr>
                            <!-- <th>#</th> -->
                            <th>Nombre</th>
                            <th>Empresa</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="liquidador in liquidadoresList" >
                            <!-- <td>{{ marca.id }}</td> -->
                            <td>{{ liquidador.liquidador }}</td>
                            <td>{{ liquidador.empresa }}</td>
                            
                             <td>
                                <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#newUpdateLiquidador" v-on:click="viewLiquidador(liquidador.id)">Editar</button>
                                <button type="button" class="btn btn-danger" v-on:click="eliminarLiquidador(liquidador.id)">Eliminar</button>
                             </td>
                        </tr>
                    </tbody>
                </table>
    </div>
</template>
<script>
    export default {
         //props: ['valor'],
        data() {
            return {
                liquidadoresList: [],
                idliquidador:'',

            };
        },
        created: function() {
            this.getLiquidadores();

        },
        
        methods: {
            getLiquidadores: function() {
                var urlLiquidadores = 'liquidadoresResource';
                axios.get(urlLiquidadores).then(response => {
                    this.liquidadoresList = response.data
                    setTimeout(function(){
                          $('#tablaLiquidadores').dataTable( {
                            "language": {
                            "url": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                            }
                          });

                    }, 1000);
                });
            },

            viewLiquidador: function(idliquidador) {
               this.$emit('view-liquidador', idliquidador);


            }, // fin de la funcion viewLiquidador
            
            eliminarLiquidador: function(idliquidador) {
               this.$emit('eliminar-liquidador', idliquidador);


            }, // fin de la funcion viewLiquidador

        }
    }

</script>
