<template>
    <div class='row'>

                <li v-if='marcaslist.length === 0'>Sin marcas registrados</li>
                <table id="tablaMarcas" v-if='marcaslist.length > 0' class="table table-striped table-hover" >
                    <thead>
                        <tr>
                            <!-- <th>#</th> -->
                            <th>Nombre</th>
                            <th>Habiltado</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="marca in marcaslist" >
                            <!-- <td>{{ marca.id }}</td> -->
                            <td>{{ marca.nombre }}</td>
                            <td>{{ marca.habilitado }}</td>
                             <!-- <td><button @click="viewUser(usuario.id, usuario.email)" class="btn btn-success">Editar</button> </td> -->
                             <td>
                                <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#newUpdateMarca" v-on:click="viewMarca(marca.id)">Editar</button>
                                <!-- <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#anioMarcaModal" v-on:click="">Ver Años</button> -->
                             </td>
                        </tr>
                    </tbody>
                </table>
    </div>
</template>
<script>
    export default {
         //props: ['valor'],
        data() {
            return {
                marcaslist: [],
                idmarca:'',
                /*usuario: {
                    id: '',
                    email: '',
                    unvalor:''
                }*/
            };
        },
        created: function() {
            this.getMarca();

        },
        
        methods: {
            getMarca: function() {
                var urlMarcas = 'marcasResource';
                axios.get(urlMarcas).then(response => {
                    this.marcaslist = response.data
                    setTimeout(function(){
                        $('#tablaMarcas').dataTable( {
                            "language": {
                                "url": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                            }
                        } );
                        //console.log("CARGODT");

                    }, 1000);
                });
            },

            viewMarca: function(idMarca) {
                //document.getElementById("action").value = "editaUsuario";
                //document.getElementById("iduser").value = idUser;
                //appUser.ruta = 'new message'
               //this.$set(this.formdata, 'age', 27)
               this.$emit('view-marca', idMarca);


            }, // fin de la funcion viewMarca

        }
    }

</script>
