<template>
    <div class='row'>

                <li v-if='modeloslist.length === 0'>Sin Modelos registrados</li>
                <table id="tablaModelos" v-if='modeloslist.length > 0' class="table table-striped table-hover" >
                    <thead>
                        <tr>
                            
                            <th>Marca</th>
                            <th>Nombre</th>
                            <!-- <th>Tipo</th>
                            <th>Estado</th> -->
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="modelo in modeloslist" >
                            <td>{{ modelo.marcadesc }}</td>
                            <td>{{ modelo.nombre }}</td>
                            <!-- <td>{{ modelo.tipodesc }}</td> -->
                            <!-- <td v-if="modelo.habilitado == 'SI'">
                                <label class="label label-success">{{ modelo.habilitado }}</label>

                            </td> -->
                           <!--  <td v-else>
                                <label class="label label-danger">{{ modelo.habilitado }}</label>
                            </td> -->
                             <!-- <td><button @click="viewUser(usuario.id, usuario.email)" class="btn btn-success">Editar</button> </td> -->
                            <td>
                                <button id="btnEditar" type="button" class="btn btn-primary" data-toggle="modal" data-target="#newUpdateModelo" v-on:click="viewModelo(modelo.id)">Editar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
    </div>
</template>
<script>
    export default {
        
        data() {
            return {
                modeloslist: [],
                idmodelo:'',
                /*usuario: {
                    id: '',
                    email: '',
                    unvalor:''
                }*/
            };
        },
        created: function() {
            this.getModelo();
        },
        
        methods: {
            getModelo: function() {
                var urlModelos = 'modeloFullDataAll';
                axios.get(urlModelos).then(response => {
                    this.modeloslist = response.data
                    setTimeout(function(){
                        $('#tablaModelos').dataTable( {
                            "language": {
                                "url": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                            }
                        } );
                        

                    }, 1000);
                });
            },

            viewModelo: function(idmodelo) {
                //document.getElementById("action").value = "editaUsuario";
                //document.getElementById("iduser").value = idUser;
                //appUser.ruta = 'new message'
               //this.$set(this.formdata, 'age', 27)
               this.$emit('view-modelo', idmodelo);


            }, // fin de la funcion viewUser

        }
    }

</script>
