<template>
    <div class='row'>
        <li v-if='ordenesretirolist.length === 0'>Sin Ordenes de Retiro registrados</li>
                <table id="tablaOrdenesRetiro" v-if='ordenesretirolist.length > 0' class="table table-striped table-hover" style="font-size: 13px">
                    <thead>
                        <tr>
                            <th>N° Proceso</th>
                            <th>Patente</th>
                            <th>Compañia</th>
                            <th>N° Siniestro</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Año</th>
                            <!-- <th>Transportista</th>
                            <th>Taller</th> -->
                            <th>Dias Retiro</th>
                            <th>Estado</th>
                            <th>Operaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="ordenretiro in ordenesretirolist" >
                            <td>{{ordenretiro.nproceso}}</td>
                            <td>{{ordenretiro.patente}}</td>
                            <td>{{ordenretiro.nombrecompania}}</td>
                            <td>{{ordenretiro.nsiniestro}}</td>
                            <td>{{ordenretiro.nombremarca}}</td>
                            <td>{{ordenretiro.nombremodelo}}</td>
                            <td>{{ordenretiro.anio}}</td>
                            <!-- <td>{{ordenretiro.taller}}</td>
                            <td>{{ordenretiro.transportista}}</td> -->
                            <td>{{ordenretiro.diasenretiro}}</td>
                            <td><label v-bind:class='[ordenretiro.estado.replace(" ","")]'>{{ordenretiro.estado}}</label></td>
                            <td>
                                <button id="btnVerOR" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#newUpdateOrdenRetiro" v-on:click="viewOR(ordenretiro.id)">Editar</button>
                                <button id="btnCrearExist" type="button" class="btn btn-danger btn-sm" v-on:click="crearExist(ordenretiro.id,ordenretiro.nproceso, ordenretiro.patente)">Crear Exist</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
    </div>
</template>
<script>
    export default {
        
        data() {
            return {
                ordenesretirolist: [],
                idordenretiro:'',
            };
        },
        created: function() {
            this.getOrdenesRetiro();
        },
        
        methods: {
            getOrdenesRetiro: function() {
                var urlOR = 'ordenretiroFullDataAll';
                axios.get(urlOR).then(response => {
                    this.ordenesretirolist = response.data
                    setTimeout(function(){
                        $('#tablaOrdenesRetiro').dataTable( {
                            "language": {
                                "url": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                            }
                        } );
                        
                    
                    }, 1000);
                });
            },

            viewOR: function(idorden) {
                //document.getElementById("action").value = "editaUsuario";
                //document.getElementById("iduser").value = idUser;
                //appUser.ruta = 'new message'
               //this.$set(this.formdata, 'age', 27)
               this.$emit('view-orden', idorden);


            }, // fin de la funcion viewUser

            /* crearExist: function(idorden) {
               //this.$emit('view-orden', idorden);
               axios.get("/actasResource").then(response => {
                    swal({
                        title: "Orden Retiro",
                        text: "Ingreso Generado",
                        type: "success"
                    }, function() {
                        //location.reload();
                    });
                    //$("#lista_actas").html(response.data)

                });


            }, // fin de la funcion crearExist */
            crearExist: function(idor,nproceso, patente) {
                swal({ 
                        title: 'Generar existencia a partir de:<br> ' +
                        'Nº de Proceso: ' + nproceso + '</b><br>' +
                        'Patente: <b>' + patente + '</b>',
                        html:
                        'Generar existencia a partir de:<br> ',
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#52b74d",
                        confirmButtonText: "Aceptar",
                        cancelButtonColor: "#DD6B55",
                        cancelButtonText: "Cancelar",
                        closeOnConfirm: false,
                        closeOnCancel: false  
                    }, 
                    isConfirm => {
                        if (isConfirm) {
                            axios.get("/generarexistencia/"+idor).then(response => {
                                swal({
                                    title: "Ingreso Generado",
                                    text: 'Vehiculo Patente: <b>' + patente + '</b> <a href="/existencias">(Ver existencias)</a>',
                                    html: true,
                                    type: "success" });
                                //$("#lista_actas").html(response.data)

                            });
                             
                        }
                        else {
                            swal("Cancelado", "Existencia no generada", "error");   
                        }
                    }
                );
                $('.sweet-alert button.cancel').css('background-color','red')
                //$('.sweet-alert button.cancel').addClass("pull-right")
            }, // fin de la funcion crearExist */            

        },
        
          
    }

</script>
