<template>
    <div class='row'>

                <li v-if='tallereslist.length === 0'>Sin Talleres registradas</li>
                <table id="tablaTalleres" v-if='tallereslist.length > 0' class="table table-striped table-hover" >
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>RUT</th>
                            <th>Dirección</th>
                            <th>telefono</th>
                            <th>Email</th>
                            
                            
                            
                            <th>Accion</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="taller in tallereslist" >
                            
                            <td>{{ taller.nombre }}</td>
                            <td>{{ taller.rut }}</td>
                            <td>{{ taller.direccion }}</td>
                            <td>{{ taller.telefono }}</td>
                            <td>{{ taller.email }}</td>
                            
                            
                            
                             <!-- <td><button @click="viewUser(usuario.id, usuario.email)" class="btn btn-success">Editar</button> </td> -->
                            <td><button id="btnNuevaTaller" type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#newUpdateTaller" v-on:click="viewTaller(taller.id)">Editar</button></td>
                             
                        </tr>
                    </tbody>
                </table>

    </div>
</template>
<script>
    export default {
       // props: ['valor'],

        data() {
            return {
                tallereslist: [],

            };
        },
        created: function() {

            //this.formtearFechas();
            this.getTalleres();
            
        },
        mounted: function() {

        },
        methods: {
            getTalleres: function() {
                var urlTalleres = 'talleresResource';
                axios.get(urlTalleres).then(response => {
                    this.tallereslist = response.data
                    setTimeout(function(){
                        $('#tablaTalleres').dataTable( {
                            "language": {
                                "url": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                            }
                        } );
                        //console.log("CARGODT");

                    }, 1000);
                });

            },


            viewTaller: function(idTaller) {

               this.$emit('view-taller', idTaller);


            } // fin de la funcion viewUser*/

        }
    }

</script>
