<template>
    <div class='row'>

                <li v-if='tasacioneslist.length === 0'>Sin tasaciones registrados</li>
                <table id="tablaTasaciones" v-if='tasacioneslist.length > 0' class="table table-striped table-hover" >
                    <thead>
                        <tr>
                            <th>Patente</th>
                            <th>Compañia</th>
                            <th>Nº Siniestro</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Año</th>
                            <th>Valor</th>
                            <th>Fecha</th>
                            <!-- <th>Estado</th> -->
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="tasacion in tasacioneslist" >
                            <td>{{ tasacion.patente }}</td>
                            <td>{{ tasacion.nombrecompania }}</td>
                            <td>{{ tasacion.siniestro }}</td>
                            <td>{{ tasacion.nombremarca }}</td>
                            <td>{{ tasacion.nombremodelo }}</td>
                            <td>{{ tasacion.anio }}</td>
                            <td>{{ tasacion.valor }}</td>
                            <td>{{ tasacion.fechafor }}</td>
                            <!-- <td>{{ tasacion.estado }}</td> -->
                            
                             <!-- <td><button @click="viewUser(usuario.id, usuario.email)" class="btn btn-success">Editar</button> </td> -->
                             <td><button id="btnNuevoTranportista" type="button" class="btn btn-primary" data-toggle="modal" data-target="#newUpdateTasacion" v-on:click="viewTasacion(tasacion.id)">Editar</button></td>
                        </tr>
                    </tbody>
                </table>
    </div>
</template>
<script>
    export default {
        
        data() {
            return {
                tasacioneslist: [],
                idtasacion:'',
                /*usuario: {
                    id: '',
                    email: '',
                    unvalor:''
                }*/
            };
        },
        created: function() {
            this.getTasacion();
        },
        
        methods: {
            getTasacion: function() {
                var urlTasacion = 'tasacionesResource';
                axios.get(urlTasacion).then(response => {
                    this.tasacioneslist = response.data
                    setTimeout(function(){
                        $('#tablaTasaciones').dataTable( {
                            "language": {
                                "url": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                            }
                        } );
                        //console.log("CARGODT");

                    }, 1000);
                });
            },

            viewTasacion: function(idtasacion) {
               this.$emit('view-tasacion', idtasacion);


            }, // fin de la funcion viewUser

        }
    }

</script>
