<template>
    <div class='row'>

                <li v-if='tranportistaslist.length === 0'>Sin tranportistas registrados</li>
                <table id="tablaTranportistas" v-if='tranportistaslist.length > 0' class="table table-striped table-hover" >
                    <thead>
                        <tr>
                            <th>Rut</th>
                            <th>Nombre</th>
                            <th>Patente</th>
                            <th>Telefono</th>
                            <th>Rut Chofer</th>
                            <th>Nombre Chofer</th>
                            <th>Grua Ext.</th>
                            <th>Habilitado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="tranportista in tranportistaslist" >
                            <td>{{ tranportista.rutempresa }}</td>
                            <td>{{ tranportista.nombreempresa }}</td>
                            <td>{{ tranportista.patentecamion }}</td>
                            <td>{{ tranportista.telefono }}</td>
                            <td>{{ tranportista.rutchofer }}</td>
                            <td>{{ tranportista.nombrechofer }}</td>
                            <td>{{ tranportista.gruaexterna }}</td>
                            <td v-if="tranportista.habilitado == 'SI'">
                                <label class="label label-success">{{ tranportista.habilitado }}</label>

                            </td>
                            <td v-else>
                                <label class="label label-danger">{{ tranportista.habilitado }}</label>
                            </td>
                             <!-- <td><button @click="viewUser(usuario.id, usuario.email)" class="btn btn-success">Editar</button> </td> -->
                             <td><button id="btnNuevoTranportista" type="button" class="btn btn-primary" data-toggle="modal" data-target="#newUpdateTransportista" v-on:click="viewTranportista(tranportista.id)">Editar</button></td>
                        </tr>
                    </tbody>
                </table>
    </div>
</template>
<script>
    export default {
        
        data() {
            return {
                tranportistaslist: [],
                idtranportista:'',
                /*usuario: {
                    id: '',
                    email: '',
                    unvalor:''
                }*/
            };
        },
        created: function() {
            this.getTranportista();
        },
        
        methods: {
            getTranportista: function() {
                var urlTranportista = 'transportistaResource';
                axios.get(urlTranportista).then(response => {
                    this.tranportistaslist = response.data
                    setTimeout(function(){
                        $('#tablaTranportistas').dataTable( {
                            "language": {
                                "url": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                            }
                        } );
                        //console.log("CARGODT");

                    }, 1000);
                });
            },

            viewTranportista: function(idtranportista) {
                //document.getElementById("action").value = "editaUsuario";
                //document.getElementById("iduser").value = idUser;
                //appUser.ruta = 'new message'
               //this.$set(this.formdata, 'age', 27)
               this.$emit('view-transportista', idtranportista);


            }, // fin de la funcion viewUser

        }
    }

</script>
