<template>
    <div class='row'>
       

       
           
            
           
                <li v-if='usuarioslist.length === 0'>Sin usuarios registrados</li>
                <table v-if='usuarioslist.length > 0' class="table table-striped table-hover" >
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Tipo</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="usuario in usuarioslist" >
                            <td>{{ usuario.id }}</td>
                            <td>{{ usuario.name }}</td>
                            <td>{{ usuario.email }}</td>
                            <td>{{ usuario.tipo }}</td>
                             <!-- <td><button @click="viewUser(usuario.id, usuario.email)" class="btn btn-success">Editar</button> </td> -->
                             <td><button @click="viewUser(usuario.id, usuario.email)" class="btn btn-success">Editar</button> </td>
                        </tr>
                    </tbody>
                </table>
           
       


         

    </div>
</template>
<script>
    export default {
        data() {
            return {
                usuarioslist: [],
                usuario: {
                    id: '',
                    email: ''
                }
            };
        },
        
        created: function() {
            this.getUser();
        },
        
        methods: {
            getUser: function() {
                var urlUsuarios = 'adminusuarios';
                axios.get(urlUsuarios).then(response => {
                    this.usuarioslist = response.data
                });
            },

            viewUser: function(idUser, emailUser) {
                let vm = this;
                swal({
                      title: 'Seguro que quiere elminiar al usuario '+emailUser+'?',
                      text: "Esta acción no se puede deshacer!",
                      type: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      confirmButtonText: 'Si, eliminar registro!',
                        closeOnConfirm: false,
                        closeOnCancel: false 
                    },
                    function(isConfirm) {
                        if (isConfirm) {
                            //var urlUsuarios = 'adminusuarios/'+idUser;
                            /*axios.delete(urlUsuarios).then(response => { //eliminamos
                                vm.getUser(); //listamos
                                swal("Exitoso", "Usuario: "+emailUser+" eliminado exitosamente", "success"); 
                            });*/
                            document.getElementById("idUser").value = idUser;
                             
                        }
                        else {
                            swal("Cancelado", "Operacion Cancelada", "error");   
                        }
                    }

                );
            }, // fin de la funcion viewUser

        }
    }

</script>
