<template>
    <div class='row'>

                <li v-if='usuarioslist.length === 0'>Sin usuarios registrados</li>
                <table id="tablaUsuarios" v-if='usuarioslist.length > 0' class="table table-striped table-hover" >
                    <thead>
                        <tr>
                            <!-- <th>#</th> -->
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Tipo</th>
                            <th>Empresa</th>
                            <th>Estado</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="usuario in usuarioslist" >
                            <!-- <td>{{ usuario.id }}</td> -->
                            <td>{{ usuario.name }}</td>
                            <td>{{ usuario.email }}</td>
                            <td>{{ usuario.tipo }}</td>
                            <td>{{ usuario.companiadesc }}</td>
                            <td>{{ usuario.estado }}</td>
                             <!-- <td><button @click="viewUser(usuario.id, usuario.email)" class="btn btn-success">Editar</button> </td> -->
                             <td><button id="btnNuevoUsuario" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#newUpdateUser" v-on:click="viewUser(usuario.id)">Editar</button></td>
                        </tr>
                    </tbody>
                </table>
    </div>
</template>
<script>
    export default {
         props: ['valor'],
        data() {
            return {
                usuarioslist: [],
                idusuario:'',
                /*usuario: {
                    id: '',
                    email: '',
                    unvalor:''
                }*/
            };
        },
        created: function() {
            this.getUser();
            

        },
        
        methods: {
            getUser: function() {
                var urlUsuarios = 'userFullDataAll';
                axios.get(urlUsuarios).then(response => {
                    this.usuarioslist = response.data
                    setTimeout(function(){
                        $('#tablaUsuarios').dataTable( {
                            "language": {
                                "url": "js/datables.Spanish.json"
                            }
                        } );
                        //console.log("CARGODT");

                    }, 1000);
                });
            },

            viewUser: function(idUser, emailUser) {
                //document.getElementById("action").value = "editaUsuario";
                //document.getElementById("iduser").value = idUser;
                //appUser.ruta = 'new message'
               //this.$set(this.formdata, 'age', 27)
               this.$emit('view-user', idUser);


            }, // fin de la funcion viewUser

        }
    }

</script>
