<template>
    <div class='row'>
        <li v-if='ingresolist.length === 0'>Sin vehículos en el acta</li>
                <table id="tablaExistencias" v-if='ingresolist.length > 0' class="table table-striped table-hover" style="font-size: 13px">
                    <thead>
                        <tr>
                            <th>N° Proceso</th>
                            <th>Patente</th>
                            <th>Compañia</th>
                            <th>N° Siniestro</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Año</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="ingreso in ingresolist" >
                            <td>{{ingreso.nproceso}}</td>
                            <td>{{ingreso.patente}}</td>
                            <td>{{ingreso.nombrecompania}}</td>
                            <td>{{ingreso.nsiniestro}}</td>
                            <td>{{ingreso.nombremarca}}</td>
                            <td>{{ingreso.nombremodelo}}</td>
                            <td>{{ingreso.anio}}</td>
                            
                        </tr>
                    </tbody>
                </table>
    </div>
</template>
<script>
    export default {
        
        data() {
            return {
                ingresolist: [],
                idingreso:'',
            };
        },
        created: function() {
            this.getIngresos();
        },
        
        methods: {
            getIngresos: function() {
                var urlOR = 'acta/';
                axios.get(urlOR).then(response => {
                    this.ingresolist = response.data
                    setTimeout(function(){
                        $('#tablaExistencias').dataTable( {
                            "language": {
                                "url": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                            }
                        } );
                        

                    }, 1000);
                });
            },

            viewIngreso: function(idingreso) {
               this.$emit('view-ingreso', idingreso);


            }, // fin de la funcion viewIngreso
            viewFicha: function(idingreso) {
               this.$emit('view-ficha', idingreso);


            }, // fin de la funcion viewFicha

        },
        
          
    }

</script>
